[Unit]
Description=Ngrok SSH service
After=network.target

[Service]
User=cur_user
Group=cur_group
WorkingDirectory=working_dir/tools/ngrok-ssh
ExecStart=working_dir/tools/ngrok-ssh/start-ngrok

[Install]
WantedBy=multi-user.target
