[Unit]
Description=Telegram remote access bot
After=network.target

[Service]
User=cur_user
Group=cur_group
WorkingDir=working_dir
ExecStart=working_dir/tgbot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
