[Unit]
Description=Jupyter notebook server
After=network.target

[Service]
User=cur_user
Group=cur_group
WorkingDirectory=working_dir/tools/jupyter
ExecStart=working_dir/tools/jupyter/start-jn
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
