[Unit]
Description=localhost.run ssh connection
After=network.target

[Service]
User=user
Group=user
WorkingDirectory=/home/user/src/tg-remote-ssh/tools/lo-ssh
ExecStart=/home/user/src/tg-remote-ssh/tools/lo-ssh/start-lo
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
